<div id="header" class="container">
    <header class="d-flex align-items-center justify-content-between p-3 glass rounded-2 border border-glass">
        <div class="d-flex align-items-center">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center mb-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="d-none d-md-block me-3" src="{{ asset('build/images/logo.png') }}" width="64" height="64"></img>
                <img class="d-md-none me-3" src="{{ asset('build/images/logo.png') }}" width="32" height="32"></img>
                <span class="d-block d-md-none fw-bold fs-6">Producer Meeting</span>
                <span class="d-none d-md-block fw-bold fs-3">Producer Meeting</span>
            </a>
        </div>

      {{ component('Header:Menu') }}
    </header>
</div>