<div class="container mt-3">
    <header class="d-flex align-items-center justify-content-between p-3 glass rounded-2 border border-glass">
        <div class="">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="me-3" src="{{ asset('build/images/logo.png') }}" width="64" height="64"></img>
                <span class="fs-3 fw-bold">Producer Meeting</span>
            </a>
        </div>

      {{ component('Header:Menu') }}
    </header>
  </div>