:root {
    --header-spacing:2rem;
    --header-height:100px;
}

#header {
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    margin-top:calc(var(--header-spacing) * 0.5);
    height:var(--header-height);
    z-index:1000;
}