<!DOCTYPE html>
<html data-bs-theme="light" data-lang="en" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Producer Meeting{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}        
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}        
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block container %}{% endblock %}
        </div>
    </body>
</html>